.container #video-buttons{
    margin-top: 10px;
    align-items: flex-end;
}

#volumeVideo{
    margin-bottom: 15px;
    cursor: pointer;
}

#volumeDisplayVideo{
    text-align: center;
}

#progress-bar-Video {
    cursor: pointer;
}